<!-- CORPO AO LADO DA BARRA LATERAL-->    
<div class="col-xs-12 col-sm-8 col-md-9 col-lg-9 div-caixas zerar-padding-all">
  <div class="panel panel-success div-painel-contato">
    <div class="panel-heading fundo-titulo-form">
      <h1>ENTRE EM CONTATO CONOSCO</h1>
    </div>
    <div class="panel-body">
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 div-form-contato">
        <%= render :partial => "contatos/form" %>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 div-form-contato-img">
        <%= image_tag("../images/meio/contato.png", :class => "img-responsive") %>
      </div>  
    </div>
  </div>
</div>