<!-- CORPO AO LADO DA BARRA LATERAL-->    
<div class="col-xs-12 col-sm-8 col-md-9 col-lg-9 div-caixas zerar-padding-all">
  <!-- CAIXAS DE CONTEÚDO -->    
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 div-conteudo div-corpo-galeria zerar-padding-all">
    <h1>NOME DA GALERIA</h1>
    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 div-galeria-box zerar-padding-all">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 div-galeria-box-interna zerar-padding-all">
        <%= image_tag("../images/rodape/logo-menor.png", :class => "img-responsive logo-rodape") %>
      </div>
    </div>
  </div>
</div>