<!-- CORPO AO LADO DA BARRA LATERAL-->    
<div class="col-xs-12 col-sm-8 col-md-9 col-lg-9 div-caixas zerar-padding-all">

  <!-- CAIXAS DE CONTEÚDO -->    
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 div-conteudo zerar-padding-all">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 div-instituicoes-atendidas zerar-padding-all">
    <h1>RECOMENDAÇÕES E ORIENTAÇÕES</h1></br>
    <p>As orientações a seguir foram formuladas, com o propósito de tornar o transporte escolar eficiente. </br>Se todos as seguirem, conseguiremos alcançar este objetivo.
    É de suma importância que os pais e alunos saibam utilizar o serviço de transporte escolar. Assim, orientem os alunos, para que possamos desempenhar, a contento, nossa tarefa.</p>   
    <!--TEXTO COLAPSÁVEL-->  
    <div class="panel-group" id="accordion">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
              RECOMENDAÇÕES AOS PAIS 
            </a><i class="fa fa-arrow-circle-down"></i>
          </h4>
        </div>
        <div id="collapseOne" class="panel-collapse collapse in">
          <div class="panel-body">
            <%= image_tag("../images/meio/familia.png", :class => "img-responsive", :align => "right") %>
            <ul>
              <li><i class="fa fa-caret-square-o-right"></i> É de fundamental importância que as Mochilas, os Casacos e outros pertences estejam identificados com o nome completo da criança.</li>
              <li><i class="fa fa-caret-square-o-right"></i> Esperar o transporte no local de embarque (ou de desembarque, se for o caso), com antecedência, de no mínimo, cinco minutos antes do horário determinado pela empresa. Eventualmente, o veículo esperará por um período máximo de um minuto. Se não aparecer dentre desse tempo, ele partirá sem o aluno.</li>
              <li><i class="fa fa-caret-square-o-right"></i> Não deixe para a última hora o preparo dos lanches ou do material dos alunos. Lembre-se que o trajeto é calculado. Por ser um transporte coletivo, o aluno é que deve esperar o transporte e não o contrário. Se um deles se atrasa, a roteiro todo se atrasará.</li>
              <li><i class="fa fa-caret-square-o-right"></i> O aluno deve manter seus pertences embaixo de seu assento ou em um local indicado pelo monitor.</li>
              <li><i class="fa fa-caret-square-o-right"></i> Se o transporte se atrasar, evite sair do local de embarque. Pode ter havido um problema de última hora. Aguarde, ou entre em contato com a empresa, através do celular.</li>
              <li><i class="fa fa-caret-square-o-right"></i> Orientar diariamente os alunos sobre as recomendações da empresa em relação ao comportamento deles durante os trajetos, tais como: Não comer, beber no interior do ônibus  não colocar as mãos para fora ou jogar quaisquer objetos pelas janelas, não discutir com os colegas, falar palavrões, gritar, mexer com pedestres ou outros motoristas, estragar ou escrever nas poltronas ou qualquer outra parte do veículo, sempre usar o cinto de segurança, respeitar os colegas, o monitor e o motorista. E seguir as determinações dos mesmos. Se eles determinam, é para manter a disciplina e a segurança dos alunos.</li>
              <li><i class="fa fa-caret-square-o-right"></i> No estacionamento da escola, na saída, os alunos devem permanecer juntos ao monitor ou motoristas.</li>
              <li><i class="fa fa-caret-square-o-right"></i> Oriente-os para que não saiam correndo na frente. A responsabilidade pelo transporte começa no portão de casa até a entrada do colégio e vice versa. O aluno deve esperar até que a ônibus  pare completamente antes de se aproximar para o embarque.</li>
              <li><i class="fa fa-caret-square-o-right"></i> Oriente seus filhos que não permaneçam correndo sobre as calçadas em frentes aos colégios, todos devem permanecer num local que ofereça segurança até a chegada dos ônibus.</li>
              <li><i class="fa fa-caret-square-o-right"></i> O aluno deve permanecer sentado até que o ônibus pare completamente, para só então se levantar para desembarcar.</li>
              <li><i class="fa fa-caret-square-o-right"></i> Memorize o telefone da empresa. É fácil (3322-4516). E para recados de última hora 99184-7718.</li>
              <li><i class="fa fa-caret-square-o-right"></i> Avise sempre se o aluno não for para a escola ou se vão buscá-lo na volta.</li>
              <li><i class="fa fa-caret-square-o-right"></i> Tenha em mente que o serviço de transporte escolar é de altíssima responsabilidade, além de facilitar a vida dos pais e dos alunos. Têm custos altíssimos, com veículos, combustíveis, manutenção, seguros, funcionários, etc. Assim, é importante realizar o pagamento da mensalidade do transporte sempre em dia.</li>
              <li><i class="fa fa-caret-square-o-right"></i> Informe aos responsáveis pela empresa qualquer procedimento incomum ou suspeito por parte dos monitores e/ou motoristas.</li>
              <li><i class="fa fa-caret-square-o-right"></i> Caso o aluno desrespeite as regras estabelecidas, os pais serão comunicados. Havendo reincidências, o aluno poderá ser suspenso do transporte.</li>
              <li><i class="fa fa-caret-square-o-right"></i> O serviço é contratado para um determinado aluno e percurso. O motorista/monitor não está autorizado a transportar alunos ou quaisquer outras pessoas que não estejam autorizadas pela Empresa.Havendo necessidade de percursos extras, de alunos ou de colegas, o pai/mãe deverá autorizar previamente a empresa, através do telefone.</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
              RECOMENDAÇÕES AOS MOTORISTAS
              </a><i class="fa fa-arrow-circle-down"></i>
            </a>
          </h4>
        </div>
        <div id="collapseTwo" class="panel-collapse collapse">
          <div class="panel-body">
            <ul>
              <li><i class="fa fa-caret-square-o-right"></i> Sempre cumprimente os alunos quando estes embarcarem e dê um até amanhã, um até logo, quando desembarcarem. Demonstre bom humor e paciência com os alunos. Se for necessário chamar atenção, por qualquer motivo, seja educado e agradeça, se ele obedecer.</li>
              <li><i class="fa fa-caret-square-o-right"></i>Os alunos deverão se dirigir a você de forma educada. Não podem usar linguagem abusiva ou desrespeitosa. Se acontecer, peça ao aluno para que pare de usar esse tipo de linguagem e comunique ao pessoal do escritório.</i> 
              </li>
              <li><i class="fa fa-caret-square-o-right"></i>Inicie a rota no horário certo. Se estiver atrasado, não corra. É melhor chegar atrasado na escola ou na casa do aluno, do que correr riscos.</i> 
              </li>
              <li><i class="fa fa-caret-square-o-right"></i>Os alunos têm um horário certo para embarcar. Deverão estar esperando o transporte. Se não estiverem no local, será anotado na ficha do aluno. Na 2a vez, que acontecer a operação será repetida e os pais alertados de que, da próxima vez, não aguardará mais. Tudo isto deve ser registrado na ficha do aluno.</i> 
              </li>
              <li><i class="fa fa-caret-square-o-right"></i>Aguarde o monitor abrir e fechar a porta e certifique-se de que estão fechadas para colocar o veículo em movimento.</i> 
              </li>
              <li><i class="fa fa-caret-square-o-right"></i>Não permita que as janelas fiquem abertas mais do que 10 centímetros.</i> 
              </li>
              <li><i class="fa fa-caret-square-o-right"></i>Manter o veículo sempre limpo. Interna e externamente.</i> 
              </li>
              <li><i class="fa fa-caret-square-o-right"></i>Verifique sempre o estado dos equipamentos: cintos de segurança, extintor de incêndio, macacos, chave de rodas, luzes, etc.</i> 
              </li>
              <li><i class="fa fa-caret-square-o-right"></i>Verifique sempre a validade dos documentos de porte obrigatório.</i> 
              </li>
              <li><i class="fa fa-caret-square-o-right"></i>Faça a revisão nas quilometragens certas. Avise ao pessoal do escritório, com antecedência, o dia que levará o veículo para a oficina.</i> 
              </li>
              <li><i class="fa fa-caret-square-o-right"></i>Não estacione em locais não permitidos.</i> 
              </li>
              <li><i class="fa fa-caret-square-o-right"></i>Respeite as normas de trânsito. Dê o exemplo. Você é o profissional. Não pense que os outros motoristas o respeitarão, apenas por estar conduzindo veículo de transporte escolar.</i> 
              </li>
              <li><i class="fa fa-caret-square-o-right"></i>Nunca exceda a velocidade permitida da vias.</i> 
              </li>
              <li><i class="fa fa-caret-square-o-right"></i>Não é permitido abastecer o veículo com alunos sendo transportados, ou parar para qualquer outro fim, a não ser casos de extrema necessidade e urgência.</i> 
              </li>
              <li><i class="fa fa-caret-square-o-right"></i>No estacionamento da escola, preste atenção nos outros veículos transitando, mantendo os alunos sempre sobre sua guarda. Não os deixe sair correndo na sua frente. A responsabilidade pelo transporte começa no portão da escola ou no embarque do aluno, no percurso de ida. O aluno deve esperar até que o ônibus pare completamente antes de se aproximar para o embarque.</i> 
              </li>
              <li><i class="fa fa-caret-square-o-right"></i>Preste atenção nos recados. Se um pai ou criança lhe der um recado, anote e deixe no mural da Empresa.</i> 
              </li>
              <li><i class="fa fa-caret-square-o-right"></i>REGRAS DE OURO: Nunca seja agressivo ou grite com as crianças. Se precisar, fale firme, sem gritar. Interfira, sempre que necessário para manter a ordem no Transporte.</i> 
              </li>
              <li><i class="fa fa-caret-square-o-right"></i>O uso do uniforme é obrigatório durante todo o horário de trabalho.</i> 
              </li>
              <li><i class="fa fa-caret-square-o-right"></i>NÃO É PERMITIDO AOS MOTORISTAS ATENDER O CELULAR DURANTE AS ROTAS. Passe para a Monitora que a mesma anotará o recado.</i> 
              </li>
              <li><i class="fa fa-caret-square-o-right"></i>NUNCA PERCA A RAZÃO. Nunca toque numa criança. Se precisar ajudar no embarque ou desembarque, ajude com cuidado para não ser mal interpretado. Se um aluno lhe ofende ou agride, comunique a empresa. NUNCA REVIDE. Se isto acontecer, os pais serão avisados e se tomará as devidas providências.</i> 
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
              RECOMENDAÇÕES AS MONITORAS
              </a><i class="fa fa-arrow-circle-down"></i>
            </a>
          </h4>
        </div>
        <div id="collapseThree" class="panel-collapse collapse">
          <div class="panel-body">
            <ul>
              <li><i class="fa fa-caret-square-o-right"></i> Sempre cumprimente os alunos quando estes embarcarem e dê um até amanhã, um até logo, quando desembarcarem. Demonstre bom humor e paciência com os alunos. Se for necessário chamar atenção, por qualquer motivo, seja educado e agradeça, se ele obedecer.</li>
              <li><i class="fa fa-caret-square-o-right"></i> Os alunos deverão se dirigir a você de forma educada. Não podem usar linguagem abusiva ou desrespeitosa. Se acontecer, peça ao aluno para que pare de usar esse tipo de linguagem e comunique ao pessoal do escritório.</li>
              <li><i class="fa fa-caret-square-o-right"></i> Auxilie o motorista no sentido de direcionar com mais segurança na hora de atravessar as ruas preferenciais.</li>
              <li><i class="fa fa-caret-square-o-right"></i> Esteja atento no momento do embarque e do desembarque dos alunos, auxiliando sempre que for necessário. O aluno não pode correr o risco de cair do veículo.</li>
              <li><i class="fa fa-caret-square-o-right"></i> Cuidar da disciplina dos alunos, evitando que eles comam ou bebam durante o trajeto, discutam entre si, desrespeite uns aos outros, joguem quaisquer objetos pelas janelas ou que coloquem as mãos para fora das janelas.</li>
              <li><i class="fa fa-caret-square-o-right"></i> Antes de passar nas residências ou ao sair das escolas, confira a fim de verificar se falta algum aluno. Procure saber se é dia de todos irem ou retornarem, pois existem alunos dos mais diversos colégios que em determinados dias não vão e não retornam de transporte.</li>
              <li><i class="fa fa-caret-square-o-right"></i> Auxiliar os alunos em caso de emergência (dor de cabeça, mal estar, etc.) e procure sempre que possível avisar os Pais.</li>
              <li><i class="fa fa-caret-square-o-right"></i> Sempre que o aluno desembarcar, peça para verificar se não está esquecendo algum pertence no veículo. No final de cada rota, faça uma vistoria a fim de verificar objetos esquecidos e caso tenha alguns procure devolve-los no dia seguinte.</li>
              <li><i class="fa fa-caret-square-o-right"></i> O serviço de transporte é contratado para um determinado aluno e percurso. É proibido o transporte de alunos ou quaisquer outras pessoas que não estejam autorizadas. É necessário o pessoal do escritório saber quem são os passageiros que estão sendo transportados, em todas as rotas.</li>
              <li><i class="fa fa-caret-square-o-right"></i> Controlar a abertura das janelas, não permitindo que fiquem abertas exageradamente.</li>
              <li><i class="fa fa-caret-square-o-right"></i> Verifique, sempre, se os alunos estão usando corretamente o cinto de segurança.</li>
              <li><i class="fa fa-caret-square-o-right"></i> Antes do início de qualquer rota, “case” os cintos de segurança. (se preferir faça-o no final de cada rota).</li>
              <li><i class="fa fa-caret-square-o-right"></i> Não permitir conversas inadequadas durante os trajetos. Lembrar aos alunos maiores que tem alunos menores e algumas palavras devem ser evitadas. E os alunos maiores devem dar o exemplo aos mais novos.</li>
              <li><i class="fa fa-caret-square-o-right"></i> No estacionamento da escola, preste atenção nos outros veículos transitando, mantendo os alunos sempre sobre sua guarda. Não os deixe sair correndo na sua frente. A responsabilidade pelo transporte começa no portão da escola ou no embarque do aluno, no percurso de ida. O aluno deve esperar até que a van pare completamente antes de se aproximar para o embarque.</li>
              <li><i class="fa fa-caret-square-o-right"></i> Sempre desça do ônibus no embarque e no desembarque dos alunos.</li>
              <li><i class="fa fa-caret-square-o-right"></i> Na volta para casa, geralmente os alunos estão mais agitados. Proceda de forma a acalmá-los. Os maiores problemas de comportamento e indisciplina acontecem na volta para casa.</li>
              <li><i class="fa fa-caret-square-o-right"></i> Se um aluno se mostrar triste ou com algum problema, dê atenção especial a ele. Converse, pergunte se precisa de algo.</li>
              <li><i class="fa fa-caret-square-o-right"></i> Sente-se no local indicado pela empresa. Se necessário sentar em outro banco, não se descuide da porta.</li>
              <li><i class="fa fa-caret-square-o-right"></i> Se o aluno estiver transgredindo as regras, ou estejam discutindo uns com os outros, interfira. Separe-os. Peça a um deles que sente perto de você.</li>
              <li><i class="fa fa-caret-square-o-right"></i> Preste atenção nos recados. Se um pai lhe der um recado, anote o mesmo e dexe no mural na empresa.</li>
              <li><i class="fa fa-caret-square-o-right"></i> REGRAS DE OURO: nunca seja agressivo ou grite com as crianças. Se precisar, fale firme, sem gritar. Fique atento durante toda a rota e interfira, sempre que necessário. Nunca ameace. Evite assuntos desagradáveis.
              </li>
              <li><i class="fa fa-caret-square-o-right"></i> O uso do uniforme é obrigatório durante todo o horário de trabalho.</li>
              <li><i class="fa fa-caret-square-o-right"></i> SOMENTE É PERMITIDO USAR O CELULAR PARA RECEBER E PASSAR RECADOS RELACIONADOS AO TRANSPORTE, E QUE DEVE ATENDER É A MONITORA.
              </li>
              <li><i class="fa fa-caret-square-o-right"></i> NUNCA PERCA A RAZÃO. Nunca toque numa criança. Se precisar ajudar no embarque ou desembarque, ajude com cuidado para não ser mal interpretado. Se um aluno lhe ofende ou agride, comunique a empresa. 
              </li>
            </ul>    
          </div>
        </div>
      </div>
    </div> 
    <!--FIM TEXTO COLAPSÁVEL-->
  </div>
  <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 div-conteudo-scroll-vertical zerar-padding-all">
  </div>
</div>