<!-- CORPO AO LADO DA BARRA LATERAL-->    
<div class="col-xs-12 col-sm-8 col-md-9 col-lg-9 div-caixas zerar-padding-all">

  <!-- CAIXAS DE CONTEÚDO -->    
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 div-conteudo zerar-padding-all">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 div-quem-somos zerar-padding-all">
      <h1>QUEM SOMOS</h1>
      <h3>Somos a diferença no transporte Escolar Urbano de Chapecó</h3>
      <%= image_tag("../images/meio/criancas.png", :class => "img-responsive", :align => "right") %>

      <h4>Nossa Missão</h4>
      <p>Transportar vidas com qualidade e segurança, fazendo dos clientes seus maiores vendedores, através de sua satisfação.</p>

      <h4>Nossa Visão</h4> 
      <p>Ser reconhecida pela sociedade como a melhor empresa de Transporte Escolar de passageiros nos setores onde atua.</br>
      Desde o início de nossas atividades, fevereiro de 1.996 utiliza este lema: Qualidade e segurança. Não se pode transportar crianças e adolescentes sem a observância destes dois itens indispensáveis.</p>

      <h4>Qualidade</h4>
      <p>Significa oferecer o melhor atendimento, onde os clientes (estudantes) se sintam totalmente satisfeitos com o transporte escolar, atuando com os colaboradores através do profissionalismo que a função exige.</p>

      <h4>Segurança</h4> 
      <p>Significa utilizar veículos em excelente estado de conservação, conduzidos por motoristas experientes, treinados, conscientes da tarefa que desempenham, dos riscos que correm e dos cuidados que devem ter com os passageiros. Os motoristas são auxiliados por monitoras durante o trajeto, o que proporciona tranqüilidade aos Pais.</p>

      <p>Nosso maior patrimônio: Equipe composta de 12 funcionários treinados freqüentemente. Sempre atenciosos e cuidadosos com as crianças e no relacionamento com os pais ou responsáveis.</p>

      <h4>Pioneirismo</h4> 
      <p>No inicio de nossa atividade em 1996 foi empresa pioneira em iniciar o transporte escolar, com monitores (as) como auxiliar para poder melhor atender as crianças transportadas.</p>

      <p>Também desde 2001 é a única Empresa até o momento que possui um site para disponibilizar aos clientes mais uma ferramenta de contato. Onde os clientes podem enviar um pré cadastro e em seguida é providenciado todos os tramites legais para a prestação do serviço.</p>

      <p>Além disso, é muito importante registrar os melhores momentos dos eventos em que a empresa proporciona aos estudantes transportados. E através disso alguns desses eventos são fotografados e posteriormente disponibilizados no site as fotos para todos poderem ver.</p>

      <p>Anualmente a empresa promove a Gincana Anacar, com a participação das crianças, contando com diversas atividades e brincadeiras.</p>

      <p style="text-weight: bold;">Administradores responsáveis: Vilson Pagnussat e Marli Conrado Pagnussat.</p>

    </div>
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 div-conteudo-scroll-vertical zerar-padding-all">
    </div>
  </div>
</div>