<div class="container-fluid">
  <div class="row">
    <div class="navbar navbar-inverse navbar-static-bottom div-navbar-rodape">
      <div class="pull-left">
        <p class="p-creditos-navbar-rodape">© 2017 Transportes Anacar</p>
      </div>
      <div class="pull-right">
        <%= link_to(image_tag("../images/rodape/logo-rodape.png", :class => "imagem-navbar-rodape", :width => 45), "http://www.twoweb.com.br", :target => "_blank") %>
      </div>
    </div>
  </div>
</div>